.product-category-block {
    cursor: pointer;
}

.place-page .tab_box .nav-tabs li a {
    min-width: 340px;
}

.place-page .order_link_2 {
    margin: 80px 0 10px 0;
}

.place-page.product {
    margin-top: 20px;
}
.product-page-zoom .selectors a,
.place-page .selectors a {
    margin-bottom: 10px;
    background-color: black;
    border-radius: 5px;
}
.product-page-zoom .selectors img,
.product-page-zoom .app-figure figure img,
.place-page .selectors img,
.place-page .app-figure figure img {
    border: 2px solid black !important;
    border-radius: 5px;
    overflow: hidden;
}

.place-page .selectors a:hover img {
    border: 2px solid #0f00bf;
}
.place-page .MagicZoom {
    height: auto !important;
}
.main_menu .navbar-nav li.active a {
    color: black;
    font-weight: bold;
}

.static-banner-table {
    height: 400px;
    width: 80%;
    margin: 0 auto 30px auto;
}

.simple-text {
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #707070;
    line-height: 1.3;
}

.service-preview {
    padding: 15px;
    margin-left: 10px;
    background-color: rgba(231, 231, 231, 0.86);
    color: black;
    border-radius: 13px;
}

.image-row {
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: 100px auto;
}

.image-row a {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #063ce4;
    /*border-radius: 10px;*/
}

.image-row a:hover {
    background-color: #0d8dd0;
}

.image-row a img {
    height: 200px;
    width: auto;
    /*border-radius: 5px;*/
}

.my-order-link {
    display: inline-block;
    background-image: linear-gradient(
            225deg
            , #0557b1 0%, #0d8dd0 100%);
    border-radius: 7px;
    border: 1px solid #0557B1;
    font-family: "Montserrat-Bold";
    font-size: 20px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 15px 30px;
    margin: 15px;
}

.product_rev_form_box.ordering:before {
    background: url("../img/karzinka-small.png") no-repeat;
}

.main_menu .navbar-nav li a {
    padding: 20px 14px;
}

.rev_form {
    margin: 34px 0 0 0;

}
.rev_form .form-group input {
    border-bottom: 1px solid;
    border-radius: 0;
    margin: 0 0 10px 0;
}

.product_rev_form_box {
    margin: 0 auto;
    width: 100%;
}

.product_rev_form_box:before {
    z-index: 1;
    opacity: 0.2;
}

#review-form .form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    box-shadow: none;
    border-radius: 0;
}
#review-form textarea {
    min-height: 60px;
    resize: vertical;
}

.headMenuFixed {
    padding: 0;
}

.partner-item {
    position: relative;
    height: 150px;
}
.partner-item img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

.selectors {
    max-height: 580px;
    border: 1px solid;
    padding: 3px;
    overflow-y: scroll;
}

.characteristics_info {
    margin-bottom: 30px;
}
.productFilter {
    width: 100%;
}